.badge-disponivel {
  background-color: #198754;
}

.badge-emprestado {
  background-color: #dc3545;
}

.badge-em-dia {
  background-color: #198754;
}

.badge-atrasado {
  background-color: #dc3545;
}
